body{
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fE5hdHVyZXxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    color: rgb(96, 96, 96);
}

.clock{
    display: flex;
}

.clock div{
    margin: 10px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}

.clock #amPm{
    bottom: 0;
    position: absolute;
    width: 60px;
    font-size: 20px;
    height: 30px;
    background-color: green;
}